In [1]:
import pymupdf
import os

textbooks = os.listdir('/Users/amith_abhay/CCchat-RAG/data/raw/textbooks')

In [2]:
import pandas as pd

text_tocs_dictList = []
for book in textbooks:
    doc = pymupdf.open(f"/Users/amith_abhay/CCchat-RAG/data/raw/textbooks/{book}")
    toc = doc.get_toc()
    
    for entry in toc:
        level, title, page = entry
        text_tocs_dictList.append({
            'book' : book,
            'level' : level,
            'title' : title,
            'page' : page,
        })

# print(text_tocs_dict)
text_tocs_df = pd.DataFrame(text_tocs_dictList)
text_tocs_df

             book  level                 title  page
0      T1DanC.pdf      1            Title Page     3
1      T1DanC.pdf      1      About This eBook     2
2      T1DanC.pdf      1        Copyright Page     4
3      T1DanC.pdf      1  Praise for this Book     7
4      T1DanC.pdf      1       Dedication Page    14
...           ...    ...                   ...   ...
1246  T2Buyya.pdf      4      11.4.2 SpotCloud   442
1247  T2Buyya.pdf      3               Summary   442
1248  T2Buyya.pdf      3      Review questions   444
1249  T2Buyya.pdf      1            References   446
1250  T2Buyya.pdf      1                 Index   456

[1251 rows x 4 columns]

In [3]:
dfDanC = text_tocs_df[text_tocs_df["book"] == 'T1DanC.pdf']
dfDanC.describe()

            level        page
count  165.000000  165.000000
mean     2.527273  303.018182
std      0.711951  168.520697
min      1.000000    2.000000
25%      2.000000  160.000000
50%      3.000000  316.000000
75%      3.000000  478.000000
max      3.000000  557.000000

In [4]:
dfDanC

           book  level                      title  page
0    T1DanC.pdf      1                 Title Page     3
1    T1DanC.pdf      1           About This eBook     2
2    T1DanC.pdf      1             Copyright Page     4
3    T1DanC.pdf      1       Praise for this Book     7
4    T1DanC.pdf      1            Dedication Page    14
..          ...    ...                        ...   ...
160  T1DanC.pdf      2  Gustavo Azzolin, BSc, MSc   519
161  T1DanC.pdf      2             Amin Naserpour   519
162  T1DanC.pdf      2      VinÃ­cius Pacheco, MSc   519
163  T1DanC.pdf      1                      Index   521
164  T1DanC.pdf      1         Inside Front Cover   557

[165 rows x 4 columns]

In [13]:
dfDanC_byTitle = dfDanC.drop_duplicates(subset='title')
print(dfDanC_byTitle.head(20))
print(dfDanC_byTitle.tail(20))

          book  level                                             title  page
0   T1DanC.pdf      1                                        Title Page     3
1   T1DanC.pdf      1                                  About This eBook     2
2   T1DanC.pdf      1                                    Copyright Page     4
3   T1DanC.pdf      1                              Praise for this Book     7
4   T1DanC.pdf      1                                   Dedication Page    14
5   T1DanC.pdf      1                              Contents at a Glance    15
6   T1DanC.pdf      1                                          Contents    17
7   T1DanC.pdf      1               Foreword by Pamela J. Wise-Martinez    33
8   T1DanC.pdf      1                                   Acknowledgments    35
9   T1DanC.pdf      1                           Chapter 1. Introduction    37
10  T1DanC.pdf      2                      1.1. Objectives of This Book    39
11  T1DanC.pdf      2                1.2. What This Book Does Not Cover    39
12  T1DanC.pdf      2                         1.3. Who This Book Is For    39
13  T1DanC.pdf      2                   1.4. How This Book Is Organized    40
14  T1DanC.pdf      2                                  1.5. Conventions    44
15  T1DanC.pdf      2                       1.6. Additional Information    44
16  T1DanC.pdf      1                  Chapter 2. Case Study Background    47
17  T1DanC.pdf      2                           2.1. Case Study #1: ATN    48
18  T1DanC.pdf      2                         2.2. Case Study #2: DTGOV    50
19  T1DanC.pdf      2  2.3. Case Study #3: Innovartus Technologies Inc.    53
           book  level                                       title  page
145  T1DanC.pdf      2    Appendix F. Cloud Provisioning Contracts   503
146  T1DanC.pdf      3  F.1. Cloud Provisioning Contract Structure   503
147  T1DanC.pdf      3    F.2. Cloud Provider Selection Guidelines   511
148  T1DanC.pdf      2    Appendix G. Cloud Business Case Template   513
149  T1DanC.pdf      3           G.1. Business Case Identification   513
150  T1DanC.pdf      3                         G.2. Business Needs   514
151  T1DanC.pdf      3               G.3. Target Cloud Environment   514
152  T1DanC.pdf      3                       G.4. Technical Issues   515
153  T1DanC.pdf      3                       G.5. Economic Factors   515
154  T1DanC.pdf      1                           About the Authors   516
155  T1DanC.pdf      2                                  Thomas Erl   516
156  T1DanC.pdf      2                             Zaigham Mahmood   516
157  T1DanC.pdf      1              About the Foreword Contributor   518
158  T1DanC.pdf      2                Pamela J. Wise-Martinez, MSc   518
159  T1DanC.pdf      1                      About the Contributors   519
160  T1DanC.pdf      2                   Gustavo Azzolin, BSc, MSc   519
161  T1DanC.pdf      2                              Amin Naserpour   519
162  T1DanC.pdf      2                       VinÃ­cius Pacheco, MSc   519
163  T1DanC.pdf      1                                       Index   521
164  T1DanC.pdf      1                          Inside Front Cover   557

In [ ]:
dfBuyya = text_tocs_df[text_tocs_df["book"] == 'T2Buyya.pdf']
dfBuyya.describe()

            level        page
count  422.000000  422.000000
mean     4.381517  227.308057
std      1.195375  133.218410
min      1.000000    1.000000
25%      4.000000  107.000000
50%      5.000000  227.500000
75%      5.000000  355.000000
max      6.000000  456.000000

In [ ]:
dfBuyya

             book  level                      title  page
829   T2Buyya.pdf      1                Front Cover     1
830   T2Buyya.pdf      1  Mastering Cloud Computing     4
831   T2Buyya.pdf      1             Copyright page     5
832   T2Buyya.pdf      1                   Contents     6
833   T2Buyya.pdf      1            Acknowledgments    12
...           ...    ...                        ...   ...
1246  T2Buyya.pdf      4           11.4.2 SpotCloud   442
1247  T2Buyya.pdf      3                    Summary   442
1248  T2Buyya.pdf      3           Review questions   444
1249  T2Buyya.pdf      1                 References   446
1250  T2Buyya.pdf      1                      Index   456

[422 rows x 4 columns]

In [ ]:
dfSandeepBhowmik = text_tocs_df[text_tocs_df["book"] == 'T3SandeepBhowmik.pdf']
dfSandeepBhowmik.describe()

            level        page
count  664.000000  664.000000
mean     2.727410  226.314759
std      0.836264  112.749614
min      1.000000    1.000000
25%      2.000000  125.750000
50%      3.000000  242.500000
75%      3.000000  314.250000
max      5.000000  420.000000

In [ ]:
dfSandeepBhowmik

,book,level,title,page
165,T3SandeepBhowmik.pdf,1,Cover,1
166,T3SandeepBhowmik.pdf,1,Cloud Computing,3
167,T3SandeepBhowmik.pdf,1,Title,5
168,T3SandeepBhowmik.pdf,1,Copyright,6
169,T3SandeepBhowmik.pdf,1,Dedication,7
...,...,...,...,...
824,T3SandeepBhowmik.pdf,2,A.2 LOAD BALANCING ALGORITHM,411
825,T3SandeepBhowmik.pdf,2,A.3 ENERGY EFFICIENT MOBILE CLOUD COMPUTING,412
826,T3SandeepBhowmik.pdf,1,Bibliography,414
827,T3SandeepBhowmik.pdf,1,Endnote,419
828,T3SandeepBhowmik.pdf,1,Index,420